/* General Styling */
.services {
    cursor: default;
    min-height: 100vh;
    max-height: 100vh;
    margin-top: 75px;
}

.overnight > h3, .petCare > h3, .mileage > h3  {
    text-decoration: underline;
}

/* Grooming Styling */
.groomingService > h2, .petCare > h2, .overnight > h2 {
    width: 100%;
    background-color: #7993A0;
    padding: 10px 0;
    text-align: center;
}

.groomingService {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    font-size: 16px;
    background-color: white;
}

.cost {
    text-align: right;
}

.serviceAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px dotted white;
    margin-bottom: 10px;
}

/* Additional Services Styling */
.additionalServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.overnight, .petCare {
    width: 40%;
    margin: 0 10px;
}

.overnight > ul > li > h4, .petCare > ul > li > h4 {
    margin-bottom: 0;
    color: #027ab6;
}

.mileage, .overnight {
    text-align: center;
}

.petCare > h2 {
    text-align: center;
}

.overnight > ul > li > span, .petCare > ul > li > span {
    font-weight: bold;
}

.overnight > ul > li, 
.subList > li {
    list-style-position: inside;
    text-align: left;
}

.subList > li {
    padding-left: 20px;
}

.subList > li::before {
    content: "- ";
}

/* Mobile CSS */

@media only screen and (max-width: 1200px) {
    .groomingService {
        width: 65%;
    }
}

@media only screen and (max-width: 1090px) {
    .overnight, .petCare {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .groomingService {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .groomingService {
        width: 70%;
    }

    .overnight, .petCare {
        width: 80%;
    }
}

@media only screen and (max-width: 640px) {
    .overnight, .petCare {
        width: 90%;
    }
}

@media only screen and (max-width: 530px) {
    .groomingService {
        width: 90%
    }

    .additionalServices {
        width: 100%;
    }

    .petCare > ul, .overnight > ul {
        padding: 0;
    }
}
