.services > h3 {
    text-decoration: underline;
}

.services > ul > li > span {
    font-weight: bold;
}

.services {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    cursor: default;
}
  
.services > ul > li > p {
  display: inline-block;
}

.cost {
  text-align: right;
}

.subList > li {
  list-style-type: disc;
}

.serviceAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px dotted white;
    margin-bottom: 10px;
}

.groomingService {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 16px;
}

/* Mobile CSS */

@media only screen and (max-width: 1605px) {
    .services {
        width: 75%;
    }
}

@media only screen and (max-width: 1020px) {
    .services {
        width: 90%;
    }
}

@media only screen and (max-width: 530px) {

    .groomingService {
        width: 90%
    }

}

@media only screen and (max-width: 360px) {

    .groomingService {
        width: 100%;
    }
    
}