.homepageReviews {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 75px;
    background-color: #7993A0;
    color: white;
    text-align: left;
}

.wrapper {
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.reviewSection {
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.reviewSection > .wrapper > h1, .homepageReviews > .wrapper > h1 {
    text-align: center;
}

.reviewSection > .wrapper > h1 {
    background-color: white;
    font-size: 36px;
}

.cl_review {
    padding: 5px;
    background-color: white;
}

.border-line {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

@media only screen and (max-width: 450px) {
    .wrapper {
        width: 80%;
    }
}