.dogGallary {
    margin-top: 30px;
}
.gallary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    column-count: 4;
    column-gap: 0;
}

.dogPhotos {
    margin: 10px 15px;
    border: 1px solid black;
    max-height: 300px;
    width: auto;
    height: auto;
    image-orientation: from-image;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 1px 1px 1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 1px 1px 1px rgba(0,0,0,0);
}

@media only screen and (max-width: 555px) {
    .dogPhotos {
        max-width: 350px;
    }
}