
.App {
  text-align: center;
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.logo {
  width: 200px;
  height: 225px;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

nav {
  margin-top: auto;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

nav > a {
  margin: 0 15px;
  padding: 0 10px;
  text-decoration: none;
}

nav > a:link {
  color: white;
}

nav > a:visited {
  color: white;
}

nav > a:hover {
  color: blue;
}

