
.App {
  text-align: center;
  font-size: 18px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.subMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #36454d;
}


.hidden {
  display: none;
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.logo {
  width: 200px;
  height: 225px;
}

header {
  width: 100%;
}

nav {
  margin-top: auto;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px white solid;
}

nav > a, .subMenu > a, .services > ul > li, .menu {
  margin: 0 15px;
  padding: 0 10px;
  text-decoration: none;
}

nav > a:link, .subMenu > a:link {
  color: white;
}

nav > a:visited, .subMenu > a:visited {
  color: white;
}

nav > a:hover, .subMenu > a:hover {
  color: #f5d000;
}

.missionStatement {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.dogGrooming, .petService {
  width: 320px;
  height: 250px;
  display: inline-block;
  margin: 10px;
  position: relative;
}

.links > div > a {
  width: 320px;
  height: 250px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.links > div > a:visited {
  color: black;
}

.links > div > a:hover {
  color: black;
}

.dogGrooming {
  background: url('assests/images/puppy1.jpg') no-repeat;
}

.petService {
  background: url('assests/images/animals.jpg') no-repeat;
}

.about, .services {
  text-align: left;
}

.about > h1, .services > h1, .services > h3, .services > h2 {
  text-align: center;
}

.about > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-right: 10px;
}

.contact > div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contactForm > textarea {
  width: 66%;
}

.contactForm > label {
  width: 35%;
  /* display: inline-block; */
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 15px;
}

.contactForm > label > input {
  /* width: 100%; */
  width: 200px;
  padding: 6px;
}

textarea {
  resize: vertical;
  margin-bottom: 15px;
}

.services {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.services > ul > li > p {
  display: inline-block;
}

.cost {
  float: right;
}

.subList > li {
  list-style-type: disc;
}

@media only screen and (max-width: 1605px) {

  nav {
    width: 85%;
  }

}

@media only screen and (max-width: 1420px ) {
  nav {
    font-size: 22px;
  }


}

