
/*General Styling*/
.App {
  text-align: center;
  font-size: 18px;
  /* height: 100%; */
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

/*Header*/
main {
  /* width: 100vw; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* height: 100%; */
  background-color: white;
  color: black;
}

.logo {
  width: 250px;
  height: 275px;
  margin-top: 30px;
}

header {
  width: 100%;
  background-color: #7993A0;
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.75);
}

.subMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #36454d;
}

.hidden {
  display: none;
}

/*Navigation*/

.nav {
  position: absolute;
  top: 0;
  margin-top: auto;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px white solid;
}

nav > a, .subMenu > a, .services > ul > li, .menu, .subMenuMobile > a {
  margin: 0 5px;
  padding: 0 5px;
  text-decoration: none;
}

nav > a:link, .subMenu > a:link, .subMenuMobile > a:link, .homepageAbout > div > a:link {
  color: white;
}

nav > a:visited, .subMenu > a:visited, .subMenuMobile > a:visited, .homepageAbout > div > a:visited {
  color: white;
}

nav > a:hover, .subMenu > a:hover, .subMenuMobile > a:hover, .homepageAbout > div > a:hover {
  color: #f5d000;
}

/*Homepage Content Styling*/
.missionStatement {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 75px;
  margin-bottom: 75px;
  position: relative;
}

.missionStatement > p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.missionStatement > p > span {
  font-style: italic;
}

.dogGrooming, .petService {
  width: 440px;
  height: 350px;
  display: inline-block;
  margin: 0 50px;
  position: relative;
}

.serviceLinks > h1 {
  text-align: center;
}

.serviceLinks > div > a {
  width: 440px;
  height: 350px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.serviceLinks > div > a:visited {
  color: black;
}

.serviceLinks > div > a:hover {
  color: black;
}

.dogGrooming {
  background: url('assests/images/puppy1.jpg') no-repeat;
  background-size: contain;
}

.petService {
  background: url('assests/images/animals.jpg') no-repeat;
  background-size: contain;
}

.homepageAbout {
  width: 100%;
  overflow: auto;
  background-color: #7993A0;
  padding-bottom: 50px;
}

.homepageAbout > div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.homepageAbout > div > p {
  text-align: left;
  margin-top: 0;
  line-height: 1.75em;
}

.homepageAbout > div > h1 {
  margin-top: 0;
}

.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  width: 50%;
  clear: right;
  float: left;
}


/*General Styling for About, Services Headers*/
.about {
  margin: 10px 0;
  /* background-color: #7993A0; */
  height: 100%;
  padding-bottom: 50px;
}

.about, .services {
  text-align: left;
}

.about > h1, .services > h1, .services > h3, .services > h2 {
  text-align: center;
}

.selfiePic {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 35%;
}

.aboutContent {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*Contact Page Styling*/
.contact {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.info > div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact > .info > div > p {
  text-align: left;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contactForm > textarea {
  width: 66%;
}

.contactForm > label {
  width: 35%;
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 15px;
}

.contactForm > label > input {
  width: 200px;
  padding: 6px;
}

textarea {
  resize: vertical;
  margin-bottom: 15px;
}

.contactForm > button {
  margin-bottom: 25px;
  width: 150px;
}


/* Mobile CSS */

@media only screen and (max-width: 1420px ) {
  .nav {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1302px) {
  .missionStatement {
    width: 75%;
  }

  .missionStatement > p {
    width: 100%;
  }

  .profilePic {
    float: none;
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .selfiePic, .aboutContent {
    width: 60%;
  }

  .petService, .dogGrooming {
    margin: 0 25px;
  }

}

@media only screen and (max-width: 900px) {

  .contactForm, .info {
    width: 66%;
  }
  .contactForm > textarea {
    width: 90%;
  }

  .homepageAbout > div  {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .selfiePic, .aboutContent {
    width: 60%;
  }
}
 
@media only screen and (max-width: 640px) {

  header {
    max-height: 250px;
    min-height: 250px;
  }

  header > img {
    position: absolute;
    top: 0;
    float: left;
    left: 0;
  }

  .logo {
    margin-top: 0;
    width: 225px;
    height: 250px;
  }

  main {
    margin-top: 50px;
  }

  .missionStatement {
    width: 90%;
  }

  .about > img {
    width: 90%;
  }

  .aboutContent {
    width: 90%;
  }

  .contact {
    width: 100%;
  }

  .info {
    margin-left: auto;
    margin-right: auto;
  }

  .info > div {
    width: 100%;
  }

}

/*Mobile Styling*/
@media only screen and (max-width: 530px) {
  .dogGrooming, .petService, .serviceLinks > div > a {
    width: 260px;
    height: 190px;
  }
}

@media only screen and (max-width: 500px) {
  .contact > div, .contactForm {
    width: 90%;
  }

  main {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 450px) {

  header {
    min-height: 275px;
  }

  header > img {
    float: none;
    position: relative;
    padding-top: 25px;
  }

  nav > a {
    margin: 10px 0;
  }

  .profilePic {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .aboutContent {
    width: 90%;
  }

  .selfiePic {
    float: none;
  }
  main {
    width: 100%;
  }

  .missionStatement > p {
    width: 100%;
  }

  .dogGrooming, .petService {
    margin: 0;
  }
}
