.gallary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.gallary > li {
    margin: 3px 8px;
}

.dogPhotos {
    border: 1px solid black;
    width: 250px;
    height: auto;
    image-orientation: from-image;
}
