/* Tablet Nav Component Styling*/
.tabletNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.tabletNav > a:hover {
    background-color: #f5d000;
    color: white;
}

.tabletNav > a {
    display: block;
}

.tabletNav > a > svg, .tabletNav > li > svg {
    margin-left: 5px;
}

.subMenuMobile {
    display: flex;
    flex-direction: column;
    background-color: #36454d;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 20px;
}

/* Mobile Nav Component Styling */

.menuBtn {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    padding: 5px 10px;
    background-color: white;
    border: none;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.mobileNav > a:hover {
    background-color: #f5d000;
    color: white;
}

.mobileNav > a {
    display: block;
}

.mobileNav > a > svg, .mobileNav > li > svg {
    margin-left: 5px;
}